{% extends 'base.html.twig' %}

{% block body %}
<form class="login-form" method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <div class="form-group">
    <label for="inputUsername">Username</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
    </div>
    <div class="form-group">
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>
    </div>
    <div class="form-group">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    </div>

    <div class="checkbox mb-3">
        <label class="checkbox-box">
            Remember me
            <input type="checkbox" name="_remember_me" hidden> 
            <span class="checkmark"></span>
        </label>
    </div>

    <button class="btn btn-danger btn-block" type="submit">
        Sign in
    </button>
</form>
{% endblock %}
