
body {
  background-color: #000000;
}

.navbar-nav {
  position: relative;
  right: 2.5%;
}

.greeting {
  color: #ffffff;
  padding: .5rem 1rem;
}

.fas {
  cursor: pointer;
}

.login-form {
  width: 35%;
  margin: 7% auto;
  color: #ffffff;
}

.checkbox-box {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 18px;
  width: 18px;
  border-radius: 15%;
  box-shadow: rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
}

.checkbox-box input:checked ~ .checkmark {
  background-color: #dc3545;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-box input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-box .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.create-user-title {
  margin: 16px auto;
  color: #ffffff;
}

.userForm {
  width: 45%;
  margin: 5% auto 0;
}

.table {
  width: 95%;
  margin: auto;
}