<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Hmg-test-junior{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
            <link href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" rel="stylesheet">
            <link rel="stylesheet" href="{{asset('css/styles.css')}}">
        {% endblock %}
    </head>
    <body>
        {% block header %}
            <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black">
                <a class="navbar-brand" href="{{path('landing')}}"><img src="{{asset('assets/img/hmg.png')}}" alt="hmg-logo" width="150px"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                {% if is_granted ('ROLE_ADMIN') or is_granted ('ROLE_USER') %}
                    <li class="nav-item">
                        <p class="greeting">Welcome {{app.user.username}}</p>
                    </li>
                    {% endif %}
                {% if is_granted ('ROLE_ADMIN') %}
                    <li class="nav-item">
                    <a class="nav-link" href="{{path('landing')}}" style="color:white"><i class="fas fa-clipboard-list fa-lg"></i> User List</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="{{path('new-user')}}" style="color:white"><i class="fas fa-plus-square fa-lg"></i> Create User</a>
                    </li>
                {% endif %}
                {% if is_granted ('ROLE_ADMIN') or is_granted ('ROLE_USER') %}
                    <li class="nav-item">
                    <a class="nav-link" href="{{path('app_logout')}}" style="color:white"><i class="fas fa-sign-out-alt fa-lg"></i> Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                    <a class="nav-link" href="{{path('app_login')}}" style="color:white"><i class="fas fa-sign-in-alt fa-lg"></i> Login</a>
                    </li>
                {% endif %}
                </ul>
                </div>
            </nav>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
