{% extends "base.html.twig" %}

{% block stylesheets %}
  {{parent()}}
  <link rel="stylesheet" href="{{asset('css/styles.css')}}">
{% endblock %}

{% block body %}
  <table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Password</th>
      <th scope="col">Role</th>
      <th scope="col">Email</th>
      <th scope="col">Comments</th>
      {% if is_granted ('ROLE_ADMIN') %}
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
  {% for user in users %}
    <tr>
      <th scope="row">{{loop.index}}</th>
      <td>{{user.username}}</td>
      <td>************</td>
      {# <td>{{user.password | slice(30, 10)}}</td> #}
      <td>
        {% for role in user.roles %}
            {{role == "ROLE_USER" ? "User" : "Admin"}}
          {% if not(loop.last) %},{% endif %}
        {% endfor %}
      </td>
      <td>{{user.email}}</td>
      <td>
        {% if user.comments == not null %}
          {{user.comments}}
        {% else %}
          ---
        {% endif %}
      </td>
      {% if is_granted ('ROLE_ADMIN') %}
      <td>  
        <i class="fas fa-edit fa-lg btnEdit" data-toggle="modal" data-target="#editUser{{user.id}}" id="{{user.id}}"></i>
      </td>
      <td>
      <i class="fas fa-trash-alt fa-lg btnDelete" data-toggle="modal" data-target="#deleteUser{{user.id}}" id="{{user.id}}"></i>
      </td>
      {% endif %}
    </tr>

    <div class="modal fade" id="editUser{{user.id}}" tabindex="-1" role="dialog" aria-labelledby="editUserTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editUserLongTitle">Edit User</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
            {{form_start(userForms[loop.index0], {'action': path('update-user', {id: user.id}), 'attr': {'class': 'userForm'}}) }}
          <div class="modal-body">
              <div class="form-group">
                {{form_widget(userForms[loop.index0].username, {'attr': {'class': 'form-control', 'placeholder': user.username}})}}
              </div>
              <div class="form-group">
                {{form_widget(userForms[loop.index0].password, {'attr': {'class': 'form-control', 'placeholder': user.password}})}}
              </div>
              <div class="form-group">
                {{form_widget(userForms[loop.index0].email, {'attr': {'class': 'form-control', 'placeholder': user.email}})}}
              </div>
              <div class="form-group">
                {{form_widget(userForms[loop.index0].roles, {'attr': {'class': 'form-control'}})}}
              </div>
              <div class="form-group">
                {{form_widget(userForms[loop.index0].comments, {'attr': {'class': 'form-control', 'placeholder': user.comments}})}}
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-danger" >Edit</button>
          </div>
            {{form_end(userForms[loop.index0])}}
        </div>
      </div>
    </div>

      <div class="modal fade" id="deleteUser{{user.id}}" tabindex="-1" role="dialog" aria-labelledby="deleteUserTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Reminder</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Once deleted, the user cannot be recovered again. Do you want to continue anyway?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <a type="button" class="btn btn-danger" href="{{path('delete-user', {id: user.id})}}">Delete</a>
          </div>
        </div>
      </div>
    </div>

  {% endfor %}
  </tbody>
</table>

{% endblock %}