{% extends "base.html.twig" %}

{% block body %}
  {{form_start(NewUserForm, {'attr': {'class': 'userForm'}}) }}
  <h1 class="create-user-title">Create User</h1>
    <div class="form-group">
      {{form_widget(NewUserForm.username, {'required': true, 'attr': {'class': 'form-control'}})}}
    </div>
    <div class="form-group">
      {{form_widget(NewUserForm.password, {'required': true, 'attr': {'class': 'form-control'}})}}
    </div>
    <div class="form-group">
      {{form_widget(NewUserForm.email, {'required': true, 'attr': {'class': 'form-control'}})}}
    </div>
    <div class="form-group">
      {{form_widget(NewUserForm.roles, {'required': true, 'attr': {'class': 'form-control'}})}}
    </div>
    <div class="form-group">
      {{form_widget(NewUserForm.comments, {'attr': {'class': 'form-control', 'required': false}})}}
    </div>
    <button class="btn btn-danger btn-block" type="submit">Create</button>
  {{form_end(NewUserForm)}}
{% endblock %}